<div class="row">
    <div class="loading-container">
        <div class="loading-mask" data-ng-show="vm.loading"></div>
        <div role="main" data-ng-show="!vm.loading && vm.registered">
            <div ui-calendar="vm.uiConfig.calendar" class="span8 calendar" ng-model="vm.events" calendar="calendar"></div>
        </div>
        <div class="jumbotron" data-ng-show="!vm.loading && !vm.registered">
            <h1>Agenda</h1>
            <p>
                Pour utiliser cette fonctionnalité Web Patient nécessite l'accer à votre agenda google.
            </p>
            <p>
                <a href="/calendar/login" target="_blank" class="btn btn-success btn-lg" role="button"><i class="fa fa-google fa-2x fa-pull-left"></i> Autorizer</a></p>
            </p>
        </div>
        <div data-ng-show="!vm.loading && vm.error" class="alert alert-danger text-large" role="alert">
            <big><i class="fa fa-exclamation-triangle"></i> Une erreur s'est produite! Réessayez plus tard.</big>
        </div>
    </div>
</div>

<script type="text/ng-template" id="modalAppointment.html">
    <div class="modal-header">
        <h3 class="modal-title">Rendez-vous</h3>
    </div>
    <div class="modal-body">
        <form id="appointment" name="appointment">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="patient" class="col-sm-2 control-label">Patient</label>
                    <div class="col-sm-4">
                        <input type="text" id="patient" required="" class="form-control" typeahead-on-select="modal.search($item, $model, $label)" placeholder="Patient" ng-model="modal.appointment.patient" typeahead-loading="loadingPatients" typeahead="patientSearch as patientSearch.firstName + ' ' + patientSearch.name for patientSearch in modal.search($viewValue)">
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-sm-2 control-label">Date</label>
                    <div class="col-sm-4">
                        {{modal.appointment.start | date:'Le dd/MM/yyyy à hh:mm'}}
                        <input type="hidden" id="date" ng-model="modal.appointment.start">
                        <datetimepicker data-ng-model="modal.appointment.start" data-datetimepicker-config="{startView: 'hour'}"></datetimepicker>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="appointment.$invalid" ng-click="modal.save()">Sauver</button>
        <button class="btn btn-danger" data-ng-show="modal.isEdition" ng-click="modal.deleteAppointment()">Annuler</button>
        <button class="btn btn-warning" ng-click="modal.cancel()">Fermer</button>
    </div>
</script>