<div class="tools" ng-show="displayToolbar">
    <div class="btn-group">
        <a class="btn btn-default" data-tool="eraser" href="#schema"><i class="fa fa-eraser fa-2x"></i></a>
        <a class="btn btn-default" style="color:#f00;" data-tool="marker" data-color="#f00" href="#schema"><i class="fa fa-pencil fa-2x"></i></a>
        <a class="btn btn-default" style="color:#ff0;" data-tool="marker" data-color="#ff0" href="#schema"><i class="fa fa-pencil fa-2x"></i></a>
        <a class="btn btn-default" style="color:#0f0;" data-tool="marker" data-color="#0f0" href="#schema"><i class="fa fa-pencil fa-2x"></i></a>
        <a class="btn btn-default" style="color:#0ff;" data-tool="marker" data-color="#0ff" href="#schema"><i class="fa fa-pencil fa-2x"></i></a>
        <a class="btn btn-default" style="color:#00f;" data-tool="marker" data-color="#00f" href="#schema"><i class="fa fa-pencil fa-2x"></i></a>
        <a class="btn btn-default" style="color:#f0f;" data-tool="marker" data-color="#f0f" href="#schema"><i class="fa fa-pencil fa-2x"></i></a>
        <a class="btn btn-default" style="color:#000;" data-tool="marker" data-color="#000" href="#schema"><i class="fa fa-pencil fa-2x"></i></a>
    </div>
</div>
<canvas id="schema" width="845" height="450"></canvas>